body {
  height: 100vh;
  width: 100vh; 
  background: linear-gradient(#fba68a, #5c0d44);


  
#header {
  font-size: 40px;
  font-family: monospace;
  height: 150px;
  line-height: 150px;
  width: 600px; 
  border: black 2px solid;
  border-radius: 20px;
  margin-top: 44px;
  margin-left: 400px;
  padding-left: 100px;
}

 #container {
   height: 500px;
   width: 690px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border: black 3px solid;
   border-radius: 20px;
   align-items: center;
   margin-left: 400px;
  }

 
 #container_screen {
  height: 200px;
  line-height: 200px;
  width: 400px;
  border: 6px black solid;
  border-radius: 20px;
  background-color: rgb(143, 132, 132);
  font-size: 30px;
  text-align: center; 

}
#container_input {
  height: 100px;
  width: 400px;
  border: 2px black solid;
  border-radius: 20px;
  font-size: 20px;
  padding-left: 20px;
  font-family: monospace;
  

}
}